<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - C500Hemis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/C500Hemis.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Heads", required: false)
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">C500Hemis</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between" id="navbarSupportedContent">
                    <!-- Thanh điều hướng bên trái -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/CB">Cán bộ (CB)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/htqt">Hợp tác quốc tế (HTQT, HTDN)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/KHCN">Khoa học công nghệ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/NH">Người học</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/CSVC">Cơ sở vật chất</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/CSGD">Cơ sở giáo dục</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/CTDT">Chương trình đào tạo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/TCTS">Tài chính</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/TS">Tuyển sinh</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/VB">Văn bằng</a>
                        </li>
                    </ul>
                    <!-- Thanh điều hướng bên phải -->
                    <ul class="navbar-nav ml-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <span class="nav-link text-dark">Hello, @User.Identity.Name!</span>
                            </li>
                            <li class="nav-item">
                                <form id="logoutForm" asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-link nav-link text-dark" style="border: none; padding: 0; background: none;">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - C500Hemis - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
