@model C500Hemis.Models.TbDoanhNghiepKhcn

@{
    ViewData["Title"] = "Edit";
}
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<style>
     body
    {
        height: 100%;
        margin: 0;
        overflow-y: auto;
        background-image: url("/images/doanhnghiep.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .tieude{
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        font-size: 80px;
        color:rgb(252, 204, 101);
        margin-bottom: 50px;
    }

    .phantus{
        background-color: rgb(252, 204, 101, 0.6);
        border: 1px solid #94ff3c00;
        border-radius: 20px;
        
    }
    .phantu{
        background-color: rgb(255, 172, 99, 0.8);
        color: rgb(152, 59, 148);
        margin: 20px 20px 20px 20px;
        border-radius: 20px;
        font-weight: bold;
    }
    .form-control{
        width: 90%;
        margin: auto;
    }
    .form-group select{
        width: 90%;
        margin: auto;
    }
    .form-group label{
        padding-left: 40px;
    }
    .button{
        display: flex;   
        justify-content: center; /* Căn giữa các nút theo chiều ngang */   
        margin-bottom: 20px;  
        padding: 20px;
        }
    .btn{
        background-color: rgb(250, 206, 140);
        border-radius: 30px;
        color: white;
        width: 150px;
        height: 50px;
        text-align: center;
        padding-top: 0;
    }
    .button input{
        transition: transform 0.3s ease;
    }
    .button input:hover{
        transform: scale(1.3);
        color:  white;
    }
    .button a{
        transition: transform 0.3s ease;
    }
    .button a:hover{
        transform: scale(1.3);
        color:  white;
    }
</style>
</head>
<body>
<div class="container-fluid">
    <h1 class="tieude">Edit Doanh Nghiệp</h1>
    <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="phantus">
            
            <div class="phantu">
            <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <input type="hidden" asp-for="IdDoanhNghiepKhcn" /> 
            <div class="form-group">
                <label asp-for="MaDoanhNghiep" class="control-label"></label>
                <input asp-for="MaDoanhNghiep" class="form-control" />
                <span asp-validation-for="MaDoanhNghiep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenDoanhNghiep" class="control-label"></label>
                <input asp-for="TenDoanhNghiep" class="form-control" />
                <span asp-validation-for="TenDoanhNghiep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdHinhThucDoanhNghiepKhcn" class="control-label"></label>
                <select asp-for="IdHinhThucDoanhNghiepKhcn" class ="form-control" asp-items="ViewBag.IdHinhThucDoanhNghiepKhcn"></select>
            </div>
            <div class="form-group">
                <label asp-for="DiaDiemThanhLap" class="control-label"></label>
                <input asp-for="DiaDiemThanhLap" class="form-control" />
                <span asp-validation-for="DiaDiemThanhLap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuyMoDauTu" class="control-label"></label>
                <input asp-for="QuyMoDauTu" class="form-control" />
                <span asp-validation-for="QuyMoDauTu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KinhPhiGopVonTuTaiSanTriTue" class="control-label"></label>
                <input asp-for="KinhPhiGopVonTuTaiSanTriTue" class="form-control" />
                <span asp-validation-for="KinhPhiGopVonTuTaiSanTriTue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TyLeGopVonCuaCsgddh" class="control-label"></label>
                <input asp-for="TyLeGopVonCuaCsgddh" class="form-control" />
                <span asp-validation-for="TyLeGopVonCuaCsgddh" class="text-danger"></span>
            </div>
            <div class="form-group button">
                <input type="submit" value="Save" class="btn" style=" margin-right: 30px; font-size: 23px;" />
                <a asp-action="Index" class="btn pt-2" style="font-size: 23px;">Back</a>               
            </div>
        </form>

            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
    </div>
</div>

</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
